---
layout: 'base.njk'
title: 'Blog'
---
<section id="featured-articles" class="featured-articles">
<div class="section container">
  <h1 class="section-title">Recent articles</h1>
  <ul role="list" class="articles__list flow">
    {%- for post in collections.post -%}
      {% include 'artikel.njk' %}
    {%- endfor -%}
  </ul>
</div>
</section>